:root {
    --primary-color: #F1CDB3;
    --primary-color-light: #FDDCC4;
}
@font-face {
    font-family: Arial, sans-serif;
    src: url("../../assets/fonts/Arial.ttf");
}
@font-face {
    font-family: Georgia, serif;
    src: url("../../assets/fonts/Georgia.ttf");
}

html {
    scroll-behavior: smooth;
}

*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 15px;
}

.container {
    margin: 0 auto;
    padding: 0 40px;
    width: 1280px;
}
.start-screen-gradient {
    padding-top: 60px;
    position: relative;
    height: 908px;
    width: 100%;
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url("../../assets/images/start-screen-gradient-background.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
    

}
/* Header */
header {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: block;
    text-decoration: none;
}
.logo-title {
    margin-bottom: 10px;
    font-size: 32px;
    font-family: Georgia, serif;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: 0.06em;
    color: var(--primary-color);
}
.logo-subtitle {
    font-size: 13px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #fff;
    text-align: center;
}
.navigation-link:hover{
    padding-bottom: 5px;
    color: #fafafa;
    border-bottom: 3px solid var(--primary-color); 
}

.navigation-link {
    color: #cdcdcd;
    line-height: 1.6;
    text-decoration: none;
}
.navigation-link:not(:first-child) {
    margin-left: 35px;
}
.navigation-link:not(:first-child):hover {
    color: #fafafa;    
}
.navigation-link.active {
    padding-bottom: 5px;
    color: #fafafa;
    border-bottom: 3px solid var(--primary-color); 
}

/* motoo */
.motoo {
    display: flex;
    justify-content: space-between;
}
.motoo-content {
    margin-top: 163px;
    width: 460px;
}
.motoo-title {
    margin-bottom: 42px;
    font-size: 44px;
    font-weight: 400;
    line-height: 1.3;
    color: #fff;
    font-family: Georgia, serif;
}
.motoo-text {
    margin-bottom: 42px;
    color: #cdcdcd;
    line-height: 1.6;
}

/* Buttons */
.button {    
    border-radius: 100px;
    transition: all 0.2s linear;
}
a.button{
   text-decoration: none;
   font-size: 17px;
   font-family: Georgia, serif;
   line-height: 1.3;
   letter-spacing: 0.06em;
   color: #292929;
}
.button--primary {
    padding: 15px 45px;
    background-color: var(--primary-color);
}
.button--outline {
    padding: 13px 43px;
    background-color: #fff;
    border: 2px solid var(--primary-color);
}
.button--nav {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 52px;
    width: 52px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid var(--primary-color);
}
.button--outline:hover,
.button--nav:hover {
    background-color: var(--primary-color-light);
    border: 2px solid var(--primary-color-light);
    cursor: pointer;
}
.button--bank {
    display: inline-block;
    padding: 10px 15px;
    background-color: var(--primary-color); 
    border-radius: 9px;
}
.button--primary:hover,
.button--bank:hover {
    background-color: var(--primary-color-light);
    cursor: pointer;
}

/* Main */
/* About */
.about {
    padding: 80px 0 100px;
}
.about-line {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}
.about-content {
    width: 430px;
}
.section-title {
    font-family: Georgia, serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0.06em;
    color: #545454;
}
.about-text {
    line-height: 1.6;
    color: #4c4c4c;
}
p.about-text:not(:last-child) {
    margin: 25px 0;
}

/* friendship */
.friendship {
    padding: 80px 0 100px;
    background-color: #f6f6f6;
}
.friendship-line {
    text-align: center;
}
.friendship-slider {
    margin: 60px 0;
    position: relative;
}
.friendship-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.friendship-slider-wrapper {
    display: flex;
    justify-content: center;
    gap: 90px;
}
.friendship-card {
    width: 270px;
    height: 430px;
    background-color: #fafafa;
    border-radius: 9px;
    transition: all 0.2s linear;
}
.friendship-card:hover {
    background-color: #fff;
    cursor: pointer;
}
.friendship-card:hover .button--outline {
    background-color: var(--primary-color-light);
    border: 2px solid var(--primary-color-light);
    cursor: pointer;
}
.friendship-pet-name {
    margin: 30px 0;
    font-family: Georgia, serif;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
}

/* Help */
.help-line {
    padding: 80px 0 100px;
    text-align: center;
}
.help-container {
    margin-top: 59px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 120px;
    row-gap: 55px;
}
.help-item img {
    margin-bottom: 29px;
}
.help-item p {
    font-family: Georgia, serif;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.06em;
    color: #545454;
    white-space: nowrap;
}

/* donation */
.donation {
    padding: 80px 0 100px;
    background-color: #f6f6f6;
}
.donation-line {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.donation-content {
    width: 380px;
}
.donation-bank-title {
    margin: 20px 0;
    font-family: Georgia, serif;
    font-size: 15px;
    line-height: 1.1;
    letter-spacing: 0.06em;
    color: #545454;
}
.donation-credit-card {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 15px;
    align-items: center;
}
.donation-credit-card > span {
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.06em;
    color: #545454;
}
.donation-bank-text {
    margin-top: 20px;
    font-style: italic;
    font-size: 12px;
    line-height: 1.5;
    color: #b2b2b2;
}

/* footer */
footer {
    padding-top: 40px;
    background-image: url("../../assets/images/footer-gradient-background.png");
    height: 350px;
    margin:0 auto ;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.footer-line {
    display: flex;
    justify-content: space-between;
}
.footer-contact {
    width: 279px;
}
.footer-address {
    width: 302px;
}
footer .section-title {
    color: #fff;
}
.footer-item {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    align-items: center;
    grid-gap: 20px;
}
.footer-item > a {
    font-family: Georgia, serif;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.06em;
    color: var(--primary-color);
    text-decoration: none; 
}
.footer-contact .footer-item:first-of-type {
    margin: 40px 0;
}
.footer-address .footer-item:first-of-type {
    margin: 34px 0 32px;
}