@font-face {
    font-family: Arial, sans-serif;
    src: url("../../assets/fonts/Arial.ttf");
}
@font-face {
    font-family: Georgia, serif;
    src: url("../../assets/fonts/Georgia.ttf");
}
