:root {
    --primary-color: #F1CDB3;
    --primary-color-light: #545454;
}
@font-face {
    font-family: Arial, sans-serif;
    src: url("../../assets/fonts/Arial.ttf");
}
@font-face {
    font-family: Georgia, serif;
    src: url("../../assets/fonts/Georgia.ttf");
}
html {
    scroll-behavior: smooth;
}

*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 15px;
    position: relative;
    overflow-x: hidden;
    margin: 0;
}

/* Header */
header {
    max-width: 1280px;
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    text-decoration: none;
    height: 60px;
}
.logo-title {
    margin-bottom: 10px;
    font-size: 32px;
    font-family: Georgia, serif;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: 0.06em;
    color: #545454;
}
.logo-subtitle {
    font-size: 13px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #292929;
    text-align: center;
}
.nav-menu{
    display: flex;
}
.navigation-link:hover{
    padding-bottom: 5px;
    color: #545454;
    border-bottom: 3px solid var(--primary-color); 
}
.navigation-link {
    color: #545454;
    line-height: 1.6;
    text-decoration: none;
}
.navigation-link:not(:first-child) {
    margin-left: 35px;
}
.navigation-link.active {
    padding-bottom: 5px;
    color: #545454;
    border-bottom: 3px solid var(--primary-color); 
}
.our-friends-container{
    max-width: 1280px;
    background: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
    
    
}
/* our friends*/
.pet-container{
    max-width: 1200px;
    left: 40px;
    top: 80px;
    border-radius: 0px;
    margin-top: 80px;
    margin-bottom: 15px;
}
.our-pets-title{
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.our-pet-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    
}

.pet{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FAFAFA;
    border-radius: 9px;
    margin-bottom: 0px;
}

.pet:hover {
    background-color: #ffffff;
    cursor:pointer;
    box-shadow: 5px 9px 18px -5px rgba(241, 236, 236, 0.76);
}
.pet:hover button{
    cursor:pointer;
    background: #F1CDB3;
}


.pet-name{
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 30px;
 }

 .pet-button{
    width: 187px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 0.06em;
    color: #292929;
    background: #FAFAFA;
    margin-bottom: 20px;
 }

/* arrow */
.arrow-nav {
    display: flex;
    justify-content: center;
    column-gap: 20px;   
    margin-bottom: 100px;
    margin-top: 30px;
  }
.button-round {
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    border-radius: 50%;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.06em;
    cursor: pointer;
    border: 2px solid #f1cdb3;
    transition: 0.3s;
    color: #292929;
    font-family: 'Georgia';
}
.button-round:disabled {
    pointer-events: none;
    color: #cdcdcd;
    border-color: #cdcdcd;
}
.button-round.active {
    background-color: #f1cdb3;
    border-color: #f1cdb3;
}
.button-round:hover {
    background-color: #fddcc4;
    border-color: #fddcc4;
}


/* footer */
footer {
    background-image: url("../../assets/images/footer-gradient-background.png");
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    
}
.footer-title{
    font-family: Georgia, serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0.06em;
    color: #ffffff;
}

.footer-line {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
}
.footer-contact {
    width: 279px;
}
.footer-address {
    width: 302px;
}
footer .section-title {
    color: #fff;
}
.footer-item {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    align-items: center;
    grid-gap: 20px;
}
.footer-item > a {
    font-family: Georgia, serif;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.06em;
    color: var(--primary-color);
    text-decoration: none; 
}
.footer-contact .footer-item:first-of-type {
    margin: 40px 0;
}
.footer-address .footer-item:first-of-type {
    margin: 34px 0 32px;
}
